@model IEnumerable<BIGSCHOOL.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row pt-3">
    <ul class="list-group">
        @foreach (var i in Model)
            {
                <li class="list-group-item course position-relative mb-4 border-0">
                    <div class="text-center text-white rounded" style="background-color: #d41d50; width: 60px;">
                        <div class="month">
                            @i.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @i.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details position-absolute" style="top:20px; left: 100px;">
                        <span class="lecturer">
                            @i.Lecturer.Name |
                        </span>
                        <span class="category">
                            @i.Category.Name
                        </span>
                    </div>
                </li>
            }
    </ul>
</div>